# Ambientes Virtuais
.venv/
venv/
env/

# Cache e Binários
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Estado e Log
backup_sessao.json
RELATORIO_EXCLUSAO.txt
backup_sessao.json
relatorio_exclusao.txt
RELATORIO_ORFAOS.txt

movimentacoes/
saida/
contas/
# Planilhas/Documentos
ATUALIZADO_*.xlsx
MERGED_*.xlsx
The Best Almeida*.xlsx
*.pdf
Credentials.json
config.py
backup_fornecedores.json